# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [1]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [2]:
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv", index_col=0)

In [3]:
df_obesity

           Country  Year       Obesity (%)         Sex
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1      Afghanistan  1975     0.2 [0.0-0.6]        Male
2      Afghanistan  1975     0.8 [0.2-2.0]      Female
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4      Afghanistan  1976     0.2 [0.0-0.7]        Male
...            ...   ...               ...         ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 4 columns]

In [4]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 959.8+ KB

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [5]:
df_obesity["Obesity"] = df_obesity["Obesity (%)"].str[:4]

In [6]:
df_obesity["Obesity"] = pd.to_numeric(df_obesity["Obesity"],downcast='float', errors='coerce')

In [7]:
df_obesity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
 4   Obesity      24066 non-null  float32
dtypes: float32(1), int64(1), object(3)
memory usage: 1.0+ MB

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [8]:
df_obesity_mean_sex = df_obesity[
    (df_obesity['Year'] == 2015) &
    (df_obesity['Sex'].isin(['Male', 'Female']))
    ]

In [9]:
df_obesity_mean_sex = df_obesity_mean_sex.groupby('Sex')['Obesity'].mean()

In [10]:
df_obesity_mean_sex

Sex
Female    22.899475
Male      15.980629
Name: Obesity, dtype: float32

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [ ]:

df_obesity_country = df_obesity[df_obesity["Sex"].isin(['Both sexes'])]

df_obesity_country["Dif_Obesity"] = df_obesity_country.diff()

df["Taxa_Obesidade"] = df["Obesity"].pct_change() * 100

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [12]:
df_obesity_country

           Country  Year       Obesity (%)         Sex  Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes      0.5
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes      0.5
6      Afghanistan  1977     0.6 [0.2-1.2]  Both sexes      0.6
9      Afghanistan  1978     0.6 [0.2-1.3]  Both sexes      0.6
12     Afghanistan  1979     0.6 [0.3-1.3]  Both sexes      0.6
...            ...   ...               ...         ...      ...
24555     Zimbabwe  2012  14.3 [11.4-17.6]  Both sexes     14.3
24558     Zimbabwe  2013  14.6 [11.5-18.0]  Both sexes     14.6
24561     Zimbabwe  2014  14.9 [11.7-18.4]  Both sexes     14.9
24564     Zimbabwe  2015  15.2 [11.9-18.8]  Both sexes     15.2
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes     15.5

[8190 rows x 5 columns]

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

In [ ]:
df_both.plot()

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?