## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df1 = pd.read_csv("../projetos/analise-precos-gasolina/gasolina_2000+.csv", index_col=0)
df2 = pd.read_csv("../projetos/analise-precos-gasolina/gasolina_2010+.csv", index_col=0)

union_df = pd.concat([df1,df2])

C:\Users\user\AppData\Local\Temp\ipykernel_10016\4038540603.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("../projetos/analise-precos-gasolina/gasolina_2010+.csv", index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
union_df.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
union_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
third_column = union_df.iloc[3][1]
type(third_column)
third_column

'2004-05-15'

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [6]:
union_df["DATA INICIAL"] = pd.to_datetime(union_df["DATA INICIAL"])
union_df["DATA FINAL"] = pd.to_datetime(union_df["DATA FINAL"])

In [7]:
type(union_df["DATA FINAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
union_df["ANO-MES"] = union_df["DATA FINAL"].apply(lambda x: "{}".format(x.year)) + union_df["DATA FINAL"].apply(lambda x : "-{:02d}".format(x.month))

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
union_df.value_counts()

DATA INICIAL  DATA FINAL  REGIÃO        ESTADO            PRODUTO           NÚMERO DE POSTOS PESQUISADOS  UNIDADE DE MEDIDA  PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA  MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  PREÇO MÉDIO DISTRIBUIÇÃO  DESVIO PADRÃO DISTRIBUIÇÃO  PREÇO MÍNIMO DISTRIBUIÇÃO  PREÇO MÁXIMO DISTRIBUIÇÃO  COEF DE VARIAÇÃO DISTRIBUIÇÃO  ANO-MES
2004-05-09    2004-05-15  CENTRO OESTE  DISTRITO FEDERAL  ETANOL HIDRATADO  127                           R$/l               1.288                0.016                  1.190                 1.350                 0.463                 0.012                     0.825                     0.11                        0.4201                     0.9666                     0.133                          2004-05    1
2016-02-21    2016-02-27  NORTE         TOCANTINS         ETANOL HIDRATADO  40                            R$/l               3.314                0.189                  2.900                 3.590                 0.493                 0.057                     2.821                     0.145                       2.6473                     3.1765                     0.051                          2016-02    1
                          SUDESTE       MINAS GERAIS      GASOLINA COMUM    598                           R$/l               3.750                0.137                  3.419                 4.140                 0.395                 0.037                     3.355                     0.072                       3.056                      3.5983                     0.021                          2016-02    1
                                                          ETANOL HIDRATADO  619                           R$/l               2.935                0.124                  2.649                 3.350                 0.336                 0.042                     2.599                     0.113                       2.2409                     2.8963                     0.043                          2016-02    1
                                        ESPIRITO SANTO    ÓLEO DIESEL S10   75                            R$/l               3.104                0.083                  2.890                 3.350                 0.349                 0.027                     2.755                     0.063                       2.625                      2.8731                     0.023                          2016-02    1
                                                                                                                                                                                                                                                                                                                                                                                                                          ..
2010-08-22    2010-08-28  CENTRO OESTE  DISTRITO FEDERAL  GLP               118                           R$/13Kg            37.164               0.758                  35.000                39.000                8.467                 0.020                     28.697                    0.517                       27.66                      29.76                      0.018                          2010-08    1
                                                          GASOLINA COMUM    80                            R$/l               2.664                0.017                  2.620                 2.690                 0.288                 0.006                     2.376                     0.029                       2.297                      2.399                      0.012                          2010-08    1
                                                          ETANOL HIDRATADO  80                            R$/l               1.872                0.017                  1.790                 1.890                 -                     0.009                     -                         -                           -                          -                          -                              2010-08    1
2010-08-15    2010-08-21  SUL           SANTA CATARINA    ÓLEO DIESEL       325                           R$/l               2.028                0.065                  1.790                 2.299                 0.256                 0.032                     1.772                     0.033                       1.679                      1.8595                     0.019                          2010-08    1
2021-04-25    2021-05-01  SUL           SANTA CATARINA    OLEO DIESEL S10   100                           R$/l               4.141                0.187                  3.838                 4.739                 -99999.0              0.045                     -99999.0                  -99999.0                    -99999.0                   -99999.0                   -99999.0                       2021-05    1
Length: 120823, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [26]:
gasoline_product = union_df.groupby("PRODUTO")

common_gasoline = union_df[union_df["PRODUTO"] == "GASOLINA COMUM"]

common_gasoline.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [32]:
common_gasoline_aug_2008 = common_gasoline[common_gasoline["ANO-MES"] == "2008-08"]["PREÇO MÉDIO REVENDA"].mean()

common_gasoline_aug_2008

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [42]:
common_gasoline_may_2014 = common_gasoline[(common_gasoline["ANO-MES"] == "2014-05") & (common_gasoline["ESTADO"] == "SAO PAULO")]["PREÇO MÉDIO REVENDA"].mean()

common_gasoline_may_2014

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [51]:
which_estate_more_than_five = common_gasoline[common_gasoline["PREÇO MÉDIO REVENDA"]> 5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]]


which_estate_more_than_five.head()

               ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031

### 11. Qual a média de preço dos estados da região sul em 2012?

In [65]:
mean_south_2012 = common_gasoline[(common_gasoline["DATA FINAL"].apply(lambda x: x.year) == 2012)]
mean_south_2012 = mean_south_2012[mean_south_2012["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

mean_south_2012

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [ ]:
variation_rj = common_gasoline[(common_gasoline["PREÇO MÁXIMO REVENDA"].apply(lambda x: ))] 
variation_rj = common_gasoline[(common_gasoline["PREÇO MÍNIMO REVENDA"].apply(lambda x: x.year))] 

PREÇO MÁXIMO REVENDA

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.